summary {
    display: revert !important;
}

details {
    transition: 0.5s ease-in-out;
}

details summary ~ * {
    transition: 0.5s ease-in-out;
}

details[open] summary ~ * {
    animation: detailsSweep 0.8s ease-in-out;
}

@keyframes detailsSweep {
    0%    {opacity: 0; transform: translateX(-20px)}
    100%  {opacity: 1; transform: translateX(0px)}
}